@using NewSport.Domain.Entities
@using NewSport.Domain.Entity
@model NewSport.Domain.Entity.Post

@{
    ViewBag.Title = "Get Post";
    AjaxOptions ajaxOptions = new AjaxOptions()
    {
        UpdateTargetId = "comments",
        Url = Url.Action("Add", "Comment", new { postId = Model.Id }),
        LoadingElementId = "loadingComments",
        LoadingElementDuration = 1000,
        Confirm = "Czy chcesz dodac komentarz",
        OnSuccess = "processData"
    };
}
<script type="text/javascript">
    function OnFailure(data) {
        alert(data);
        alert("Dupa");
    }

    function dateAgo(date) {
        var seconds = (new Date().getTime() - date) / 1000;
        if (seconds < 60) {
            return parseInt(seconds) + " sekund temu";
        } else if (seconds >= 60 && seconds < 3600) {
            return parseInt(seconds / 60) + " minut temu";
        } else if (seconds >= 3600 && seconds < 86400) {
            return parseInt(seconds / 3600) + " godzin temu";
        } else {
            return parseInt(seconds / 86400) + " dni temu";
        }
    }

    function processData(data) {
        var target = $("#comments");
        target.empty();
        target.append("<div class='page-header'>\n"
            + "<h1><small class='pull-right'>" + data.length + " Comments </small> Comments </h1>\n"
            + "</div>");


        for (var i = data.length - 1; i >= 0; i--) {
            console.log(data.Message);
            var comment = data[i];
            target.append("<div class='comments-list'>\n"
                + "<div class='media'>\n"
                + "<p class='pull-right'>\n"
                + "<small>" + dateAgo(parseInt(comment.CommentsDate.substring(6, comment.CommentsDate.length - 2))) + "</small>\n"
                + "</p>\n"
                + "<a class='media-left' href='#'>\n"
                + "<img src='http://lorempixel.com/40/40/people/1/'>\n"
                + "</a>\n"
                + "<div class='media-body'>\n"
                + "<h4 class='media-heading user_name'>" + comment.Author.Username + "</h4>\n"
                + comment.Message + "\n"
                + "<p>"
                + "<small><a href=''>Like</a> - <a href=''>Share</a></small>"
                + "</p>"
                + "</div>"
                + "</div>"
                + "</div>");
        }
    }
</script>
<h2>Get Post</h2>
<div class="container-fluid">
    <div class="row-fluid">
        <!-- Dla każdego wpisu wykonujemy pętlę -->

        <div class="span1">

        </div>
        <section id="popovers">
            <div class="page-header">
                <h1>@Html.DisplayFor(m => Model.Title)</h1>

                <div class="single-head-meta">
                    <i>Dodano:</i><time-datatime class="updated">@Html.DisplayFor(m => Model.Date)</time-datatime>
                    <span class="byline author vcard">
                        <i>Przez</i> <span class="fn">@Html.DisplayFor(m => Model.Author.Username)</span>
                    </span>
                </div>
            </div>
            <div class="row-fluid">
                <div class="span12 columns">
                    <div class="twipsies well">
                        <div style="position: relative">
                            <div class="row-fluid">
                                <div class="span2">

                                    @*<img src="<?php echo $postimg; ?>" alt="">*@

                                </div>
                                <div class="span9">
                                    <p>
                                        @Html.DisplayFor(m => Model.Text)
                                    </p>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div id="loadingComments" class="loadComments" style="display: none">
            <p>Ładowanie danych...</p>
        </div>
        <div id="comments">
            @Html.Action("Get", "Comment", new { postId = Model.Id })
        </div>
        @if (Session["user"] != null)
        {
            <div>
                @using (Ajax.BeginForm(ajaxOptions))
                {
                    <div class="container">
                        <div>
                            <br style="clear: both">
                            <div class="form-group col-md-4 ">
                                <label id="messageLabel" for="message">Dodaj komentarz</label>
                                <textarea class="form-control input-sm " type="textarea" id="message" placeholder="Message" maxlength="300" rows="7" name="Message"></textarea>
                                <span class="help-block"><p id="characterLeft" class="help-block ">You have reached the limit</p></span>
                            </div>
                            <br style="clear: both">
                            <div class="form-group col-md-2">
                                <button class="form-control input-sm btn btn-success disabled" id="btnSubmit" name="btnSubmit" type="submit" style="height: 35px"> Send</button>
                            </div>
                        </div>
                    </div>
                }
            </div>
        }
    </div>
</div>