@model IQueryable<NewSport.Domain.Entity.Post>

@{
    ViewBag.Title = "Index";
}

<h2>title</h2>
<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Tytul</th>
            <th>Tekst</th>
            <th>Data</th>
            <th>Akcje</th>
        </tr>
    </thead>
    <tbody>
       @foreach (var post in Model)
       {
        <tr>
            <td>@Html.ActionLink(@post.Id.ToString(),"Get",new{post.Id})</td>
            <td>@post.Title</td>
            <td>@post.Text</td>
            <td>@post.Date</td>
            <td>
                <div class="btn-group">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                        Action <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#">@Html.ActionLink("Delete","Delete",new{post.Id})</a></li>
                        <li><a href="#">@Html.ActionLink("Edit","Edit",new{post.Id})</a></li>                      
                    </ul>
                </div>
            </td>
        </tr>
       } 
    </tbody>
</table>